.movies-list {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 18px;
}
.movies-list::-webkit-scrollbar {
  display: none;
}
.movie-title {
  color: white;
  margin-left: 10px;
}
.movie-img {
  object-fit: contain;
  height: 300px;
  margin-right: 10px;
  transition: transform 450ms;
}
.movie-img:hover {
  transform: scale(1.1);
}
